@media (max-width: 599px){
    .container {
        width: 320px;
        padding: 0 20px;
    }

    /*header*/

    .site_header {
        padding-top: 30px;
        flex-direction: column;
        align-items: center;
        flex-flow: column-reverse;
    }

    .login_button_list {
        margin-bottom: 116px;
    }

    .site_caption {
        height: 540px;
    }


    .site_caption_subtitle {
        width: 224px;
        font-size: 18px;
    }

    .site_caption_title {
        width: 280px; 
        font-size: 28px;
    }

    /*PArtner*/

    .partner_list_item {
        margin-bottom: 20px;
    }

    .partner_list_item:last-child {
        margin-bottom: 0;
    }

    .partner_list {
        margin-bottom: 30px;
    }
}

@media (min-width: 600px) and (max-width: 941px) {
    .container {
        width: 492px;
    }

    .site_header {
        justify-content: space-between;
        margin-bottom: 160px;
    }

    .logo {
        margin-left: 20px;
    }

    .site_caption_title {
        font-size: 50px;
        width: 490px;
    }

    .site_caption_subtitle {
        font-size: 22px;
    }

    /*PARTNER*/

    .partner_list_item {
        width: 236px;
        padding: 0 20px;
    }

    .partner_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 40px;
    }

}

@media (min-width: 942px) {
    

    .container {
        width: 492px;
    }

    .site_header {
        justify-content: space-between;
        
    }

    .logo {
        margin-left: 30px;
    }

    .site_caption_title {
        font-size: 50px;
        width: 490px;
    }

    .site_caption_subtitle {
        font-size: 22px;
    }

    /*PARTNER*/

    .partner_list_item {
        width: 220px;
        
    }

    .partner_list {
        display: flex;
        justify-content: space-between;  
        margin-bottom: 40px;  
        min-width: 942px;    
    }

    .partner {
        width: 942px;
    }
}