html {
    box-sizing: border-box;
}

*::after, *::before {
    box-sizing: inherit;
}

.content {
    margin: 0 auto;
    width: 1110px;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

ul {
    margin: 0;
    padding: 0;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*NAVIGATION*/

.logo {
    display: inline-block;
    margin-top: 30px;
    text-transform: uppercase;
}

.logo a {
    color: #555252;
    font-size: 30px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}

header {
    height: 110px;;
}

.logo a::first-letter {
    color: #1abc9c;
    font-weight: bold;
}

.menu_item {
    float: left;
    list-style: none;
    margin-right: 36px;
}

.menu_item:last-child {
    margin-right: 0;
}

nav {
    float: right;
    margin-top: 40px;
}

nav a {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    text-transform: uppercase;
}

nav a:hover {
    color: #1abc9c;
}

/*SLIDER*/

.slider_wrapper {
    
    height: 600px;
    width: 100%;
    
}
.slider_photo_item {
    background: url(../img/slider_bg.png);
    background-blend-mode: multiply;
    background-color: rgba(17, 17, 17, 0.52);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 600px;
}

.slider {
    margin: 0 auto;
    height: 600px;
    position: relative;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
}

.slider_text {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 218px;
    left: 188px;
}

.slider_title {
    font-size: 60px;
    font-weight: 800;
    margin: 0 0 10px 0;    
}

.slider_subtitle {
    font-size: 24px;
}

.slider_button {
    width: 104px;
    height: 104px;
    background-color: #1abc9c;
    border: none;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: center; 
    cursor: pointer;
    outline: none;
    opacity: 0.8;
}

.slider_button:hover {
    opacity: 1;
}

.next {
    right: 0;     
    background-image: url(../img/next.png);      
}

.prev {
    left: 0;
    background-image: url(../img/prev.png);
}

/* NEW COLLECTION*/

.new_collection {
    background-color: #e9f0fd;
    width: 100%;
}


.new_collection_header {
    font-family: 'Roboto', sans-serif;
    font-size: 58px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #515151;
    padding-top: 90px;
    margin: 0 0 100px 0;
}

.new_collection_header::after {
    content: '';
    width: 160px;
    height: 8px;
    background-color: #1abc9c;
    display: block;
    margin: 30px auto 0 auto;
}
/*OVERLAY*/
/*
.overlay {
    width: 235px;
    height: 187px; 
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 78px;
}*/
.overlay {     
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.button_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item_img_wrap {
    position: relative;
    margin: 0;
    padding: 0;
}
.new_collection_item:hover .overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.new_collection_item:hover .item_name {
    background-color: #1abc9c;
}

.new_collection_item:hover .item_price {
    background-color: #7fd9c7;
}

.new_collection_item:hover .new_collection_button {
    opacity: 1;
}

.new_collection_button {
    background-color: transparent;
    border: rgba(255, 252, 252, 1) 1px solid;
    color: rgba(255, 252, 252, 1);
    margin: 0 3px 10px 0;
    background-repeat: no-repeat;
    opacity: 0;
    outline: none;    
    float: left;
}

.new_collection_button:last-child {
    margin: 0;
    float: none;
}

.new_collection_button:nth-last-child(2){
    margin-right: 0;
}


.new_collection_button:hover {
    background-color: #1abc9c;
    opacity: 1;
}

.like, .share, .time {
    width: 50px;
    height: 50px;
}

.add {
    width: 156px;
    height: 50px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: right;
    background: url(../img/add.png) no-repeat;
    background-position: 10px 10px;    
    background-color: #323232;
}

.share {
    background: url(../img/share.png);    
    background-position: center;
    background-repeat: no-repeat;
}

.like {
    background: url(../img/like.png);
    background-position: center;
    background-repeat: no-repeat;
}

.time {
    background: url(../img/time.png);
    background-position: center;
    background-repeat: no-repeat;
}
  
.new_collection_list {
    list-style: none;
    padding-bottom: 100px;
}

.new_collection_item {
    float: left;
    width: 255px;
    margin: 0 30px 0 0;
    padding: 0;
    background-color: #323232;
    line-height: 0;
    /*height: 324px;*/
}


.new_collection_item:last-child {
    margin-right: 0;
}


.new_collection_item a {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}
a {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.item_name {
    width: 190px;
    display: inline-block;
    margin: 0;    
    text-align: left;
    font-size: 18px;
    float: left;
    padding: 20px 0 20px 10px;
}

.new_collection_item img {
    display: block;
    margin: 0;
    padding: 0;
    height: 284px;
}

.item_price {
    width: 55px;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    float: right;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding: 20px 0;
    margin: 0;
}


/*FOOTER*/

footer {
    background-color: #323232;
}

footer ul {
    list-style: none;
    text-align: center;
    padding: 38px 0;
    
}

.footer_item {
    display: inline-block;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.themen {
    color: #1abc9c;
    font-weight: 600;
}

.footer_item:first-child {
    border-right: #ffffff 1px solid;
    padding-right: 8px;
}

.footer_item:last-child {
    padding-left: 5px;
}










